<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LocalShare Visualizer</title>
    <link rel="stylesheet" href="/sharesmain.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <div class="main-container">
        <div class="inner-container">
            <div class="share-lane">
                <h1 id="pageHeading">LocalShare</h1>
                <textarea id="text-container" rows="1" readonly></textarea>
            </div>
        </div>
    </div>
    <script>
        // Function to fetch text and title using UUID from the server and render it
        function renderTextFromUUID(uuid) {
            console.log('Fetching data from server...');
            fetch(`/share/${uuid}`)
                .then(response => {
                    if (response.ok) {
                        return response.text();  // Use response.text() to get plain text
                    } else {
                        throw new Error('Share not found');
                    }
                })
                .then(data => {
                    console.log('Data from server:', data);
                    document.getElementById('pageHeading').textContent = 'Share Content';  // Update as needed
                    document.getElementById('text-container').value = data;
                    resizeTextarea();
                })
                .catch(error => {
                    console.error('Error fetching text:', error);
                    if (error.message === 'Share not found') {
                        window.location.href = '/404/shares';
                    } else {
                        document.getElementById('text-container').value = 'Error fetching text.';
                        resizeTextarea();
                    }
                });
        }



        // Get the UUID from the URL path
        const url = window.location.pathname.split('/');
        const uuidToRender = url[url.length - 1];
        renderTextFromUUID(uuidToRender);

        // Function to resize the textarea to fit the content
        function resizeTextarea() {
            const textarea = document.getElementById('text-container');
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }
    </script>
</body>
</html>
